body {
    background-image: url(https://imagenes.eleconomista.com.mx/files/og_thumbnail/uploads/2018/08/01/66e4af6323513.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    backdrop-filter: blur(5px) brightness(0.5);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
.content {
    padding: 40px 20px;
    text-align: center;
}

.content h2 {
    color: #006341;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.info {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 280px;
    transition: transform 0.3s;
}

.info:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #003d28;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.imgSection {
    display: none;
}
@media (min-width: 700px){
    body{
        background-image: url(https://imagenes.eleconomista.com.mx/files/og_thumbnail/uploads/2018/08/01/66e4af6323513.jpeg);
        backdrop-filter: blur(5px) brightness(0.5);
    }
    .content {
        margin-top: 100px;
        height: 50%;
        text-align: center;
    }
    
    .content h2 {
        color: #006341;
    }
    
    .servicios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
    }
    
    .info {
        background-color: white;
        color: black;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 20px;
        width: 280px;
        margin-top: 100px;
        transition: transform 0.3s;
    }
    
    .info:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    .footer {
        background-color: #003d28;
        color: white;
        height: 10vh;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }
    
    .imgSection {
        background-color: black;
        padding: 5px;
        display: flex;
        height: 100%;
        height: 200px;
    }
    
    .imgSection img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8s;
        transition: 0.5s ease;
    }
    .imgSection img:hover {
        cursor: crosshair;
        width: 150px;
        opacity: 1;
        filter: contrast(120%);
    }
}