body{
    background-image: url(https://imagenes.eleconomista.com.mx/files/og_thumbnail/uploads/2018/08/01/66e4af6323513.jpeg);
    background-size: cover;
    background-position: center;
	height: fit-content;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
    backdrop-filter: blur(5px) brightness(0.5);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
.cont{	
	background-color: rgba(4, 63, 4, 0.34);
	border-radius: 10px;
	gap: 20px;
	place-self: center;
	margin-top: 100px;
	padding: 50px;
}
form > fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.cont > form > fieldset > input {
		flex-grow: 1;
		background-color: transparent;
		color: white;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 5px;
		padding: 10px;
		margin: 10px;
}
button{
	background-color: transparent;
	color: white;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
button:hover{
	background-color: rgb(255, 255, 255);
	color: black;
}
@media (min-width: 700px){
	.cont {
		background-color: rgba(4, 63, 4, 0.34);
		border-radius: 10px;
		gap: 20px;
		place-self: center;
		margin-top: 100px;
		padding: 50px;
	}
	form > fieldset {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
	}

	fieldset {
		min-width: 450px;
	}
}