body{
	background-color: rgb(255, 255, 91);
	justify-items: center;
}
.contPHP {
	background-color: skyblue;
	color: rgb(255, 255, 255);
}
@media (min-width: 700px){
	body{
		background-color: beige;
		justify-items: start;
	}
	.cont {
		display: flex;
		gap: 20px;
	}
	fieldset {
		min-width: 450px;
	}
	.contPHP {
		background-color: rgb(198, 135, 235);
		color: rgb(0, 0, 0);
	}
}